<polymer-element name="song-info" attributes="song channel">
	<template>
		<style>
            :host {
                text-align: center;
            }
            h1 {
                margin: 10vh 0 2vh 0;
                padding: 0 2vw;
                font-size: 3.5vw;
                display: -webkit-box;
                -webkit-line-clamp : 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            h2 {
                margin: 2vh 0 2vh 0;
                padding: 0 2vw;
                font-size: 2.5vw;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            h3 {
                margin: 4vh 0;
                padding: 0 2vw;
                font-size: 2vw;
            }

            h4 {
                margin: 4vh 0 0 0;
                font-size: 1.5vw;
            }
		</style>
        <div>
            <h4>MHZ：{{channel.name}}</h4>
            <h1>{{song.title}}</h1>
            <h2>{{song.artist}}</h2>
            <h3>{{song.albumtitle}}</h3>
        </div>
	</template>
	<script>
	Polymer('song-info',{
        song : FM.status.song,
        channel : FM.status.channel,
        ready : function() {
           var self = this
           FM.obs.on('SONG:UPDATE', function(song) {
               self.song = song
           })

           FM.obs.on('CHANNEL:UPDATE', function(channel) {
               self.channel.name = channel.name
           })
        }
	})
	</script>
</polymer-element>