<polymer-element name="x-audio" attributes="song">
    <template>
        <style>
            :host {
                position: absolute;
                z-index: -1;
                display: block;
                left: 10px;
                bottom: 20vh;
                width: 0;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }

            audio {
                width: 10px;
                height: 10px;
                visibility: hidden;
            }
        </style>
        <audio  autoplay preload>
            <source src="{{song.url}}"  volume="1.0">
            Your browser does not support the audio element.
        </audio>
    </template>
    <script>
        Polymer('x-audio',{
            song : {},
            ready : function() {
                var self = this
                self.player = self.shadowRoot.querySelector('audio')

                FM.obs.on('SONG:UPDATE', function(song) {
                    self.song = song
                })

                //监测source标签的src变化，变化后重载播放器
                var observer = new MutationObserver(function(mutations) {
                    mutations.forEach(function(mutation) {
                        if(mutation.type == 'attributes' && mutation.attributeName == 'src') {
                            self.player.load()
                        }
                    });
                });

                observer.observe(self.player.firstElementChild, { attributes: true})
            }
        })
    </script>
</polymer-element>