<link rel="import" href="../x-switchTab/index.html" />
<link rel="import" href="../x-channel/index.html" />
<polymer-element name="panel-channel" attributes="publicChannels personalChannels genreChannels">
<template>
    <style>
        :host {
            display: block;
            font-size: 2vw;
            height: 100vh;
        }

        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        x-switchTab {
            display: block;
            padding: 1vw;
        }

        .nav {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }

        .nav li {
            position: relative;
            height: 8vh;
            line-height: 10vh;
            width: 12vw;
            margin-right: -0.5em;
            display: inline-block;
            list-style: none;
            cursor: pointer;
            text-align: center;
            -webkit-transform: scale(0.8);
            transition: opacity 1s, transform 1s

        }

        .nav li.active {
            background: rgba(255, 255, 255, 0.3);
            z-index: 2;
            -webkit-transform: scale(1);
        }

        .nav li + li {
            margin-left: 1vw;
        }

        .content {
            position: relative;
            width: 100%;
        }

        section {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            height: 85vh;
            overflow: auto;
            margin-top: 2vh;
            opacity: 0;
            -webkit-transform: scale(0.95);
        }

        section.active {
            -webkit-transform: scale(1);
            transition: all 0.4s ease-in;
            opacity: 1;
            z-index: 2
        }

        input[type="search"] {
            width: 37vw;
            padding: 0 10px;
            height: 10vh;
            border:1px solid rgba(100,100,100,0.1);
            background: rgba(255,255,255,0.4);
            outline: none;
        }

        input[type="search"]:focus {
            background: rgba(255,255,255,0.8);
            transition: background 0.2s ease-in;
        }

        .no-result {
            font-size: 12px;
            text-align: center;
            line-height: 75vh;
        }

        .no-result i {
            font-size: 16px;
            vertical-align: 0;
            margin-right: 5px;
        }

        .small {
            text-align: justify;
        }

        .small x-channel{
            display:inline-block;
            margin-right: 1.9vh;
            font-size: 0;
        }

        .small /deep/ div {
            height: 16vh;
            line-height: 16vh;
            width: 17.3vw;
            margin: 0;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .small /deep/ div:hover,.small /deep/ div.active {
        }

        .small /deep/ img, .small /deep/ i, .small /deep/ b, .small /deep/ p {
            display: none;
        }

        .small /deep/ h3 {
            position: static;
            height: 16vh;
            line-height: 16vh;
            margin: 0;
            font-size: 12px;
        }
    </style>
    <x-switchTab>
        <ul class="nav">
            <li class="active">固定兆赫</li>
            <li on-click="{{restoreFav}}">收藏兆赫</li>
            <li on-click="{{restoreSearch}}">兆赫搜索</li>
        </ul>
        <div class="content">
            <section class="small active">
                <template repeat="{{item in personalChannels}}">
                    <x-channel channel="{{item}}" active="{{item.id == selectedId}}"></x-channel>
                </template>
                <template repeat="{{item in publicChannels}}">
                    <x-channel channel="{{item}}" active="{{item.id == selectedId}}"></x-channel>
                </template>
            </section>
            <section>
                <template if={{favChannels.length}} repeat="{{item in favChannels}}">
                   <x-channel channel="{{item}}" active="{{item.id == selectedId}}"></x-channel>
                </template>
                <template if="{{!favChannels.length}}">
                    <div class="no-result"><i class="iconfont">&#xe60a;</i>还没有收藏兆赫</div>
                </template>
            </section>
            <section class="search">
                <input type="search" id="searchInput" placeholder="搜索兆赫" value="{{searchKey}}" on-keyup="{{search}}" />
                <ul>
                    <template repeat="{{item in searchChannels}}">
                        <x-channel channel="{{item}}" active="{{item.id == selectedId}}"></x-channel>
                    </template>
                    <template if="{{noSearchResult}}">
                        <div class="no-result"><i class="iconfont">&#xe60a;</i>没有找到你要的</div>
                    </template>
                </ul>
            </section>
        </div>
    </x-switchTab>
</template>
<script>
    Polymer('panel-channel',{
        publicChannels : [],
        personalChannels : [],
        favChannels : [],
        searchChannels : [],
        selectedId : FM.status.channel.id,

        ready : function() {
            var self = this
            this.publicChannels = this.getPublicChannels()
            this.personalChannels = this.getPersonalChannels()

            //频道被选择时
            FM.obs.on('CHANNEL:UPDATE', function(channel) {
                self.selectedId = channel.id
            })

            //频道被收藏时
            FM.obs.on('CHANNEL:FAV', function(channel) {
                self.restoreFav()
                var isFav =  self.favChannels.some(function(item) {
                    return channel.id == item.id
                })
                if(!isFav) {
                    self.favChannels.push(channel)
                    self.setFavChannels()
                }
            })

            //频道被取消收藏时
            FM.obs.on('CHANNEL:UNFAV', function(channel) {
                self.restoreFav()
                self.favChannels = self.favChannels.filter(function(item) {
                   return item.id != channel.id
                })
                self.setFavChannels()
            })
        },

        //公共频道
        getPublicChannels : function() {
            return FM.webSDK.public_channels()
        },

        //私人频道
        getPersonalChannels : function() {
            return FM.webSDK.personal_channels()
        },

        //TODO 获取收藏的频道，因为api接口的问题，暂时只存在本地，不能同步到豆瓣服务器
        getFavChannels : function() {
            return FM.cache.get('CACHE:FAV_CHANNELS') || []
        },

        //缓存收藏的频道
        setFavChannels : function() {
            FM.cache.set('CACHE:FAV_CHANNELS', this.favChannels)
        },

        //搜索兆赫
        search : function(e) {
            var self = this
            var isEnterKey = e.keyCode == 13
            var keyword = this.$.searchInput.value.trim()
            if(isEnterKey && keyword) {
                FM.webSDK.search({
                    query : keyword
                }, function(err, channels) {
                    if(channels && channels.length) {
                        self.searchChannels = channels
                        self.noSearchResult = false
                    } else {
                        self.searchChannels = []
                        self.noSearchResult = true
                    }
                    FM.cache.set('CACHE:SEARCHED_CHANNELS', {
                        keyword : keyword,
                        channels :channels
                    })
                })
            }
        },

        //恢复收藏的频道
        restoreFav : function() {
            if(!this.favRestored) {
                this.favChannels = this.getFavChannels()
                this.favRestored = true
            }
        },

        //回复搜索状态
        restoreSearch : function() {
            if(!this.searchRestored) {
                var searchCache = FM.cache.get('CACHE:SEARCHED_CHANNELS')
                if (searchCache) {
                    this.searchChannels = searchCache.channels
                    this.searchKey = searchCache.keyword
                }
                this.searchRestored = true
            }
        }
    })
</script>
</polymer-element>