<link rel="import" href="../x-audio/index.html">
<link rel="import" href="../x-hotkey/index.html">
<link rel="import" href="../song-noti/index.html">

<polymer-element name="song-player" attributes="song">
	<template>
		<style>
            .progress {
                position: relative;
                height: 2px;
                margin: 0 20px 25px;
                padding: 1px;
                background: #999;
                border-radius: 2px;
                box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;
            }

            .progress div.outer {
                position: relative;
            }

            .progress span {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 0;
                height: 2px;
                background: #fff;
            }

            .progress time {
                position: absolute;
                bottom: 10px;
                font-size: 10px;
            }

            .progress .pt {
                left: 0
            }

            .progress .dt {
                right: 0
            }
            
            .player-ctrl-extra {
                position: absolute;
                top: -8.6vh;
                right: 6vw;
                text-align: center;
            }

            .player-ctrl-extra i {
                cursor: pointer;
                margin-right: 5px;
            }

            .player-ctrl-extra i.enable {
                color: #ff0000;
            }

            .player-ctrl-extra i:last-child {
                font-size: 13px;
                margin-right: 0;
                vertical-align: 1px;
            }


            .player-ctrl {
                text-align: center;
            }

            .player-ctrl span {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin: 0 10px;
                cursor: pointer;
                font-size: 22px;
                transition: -webkit-transform 0.2s ease-in;
            }

            .player-ctrl span:hover {
                text-shadow: 0 0 2px rgba(255,255,255,0.8);
                -webkit-transform: scale(1.2);
            }

            .player-ctrl .star {
                color: #f00;
            }


		</style>

		<x-audio></x-audio>
        <x-hotkey></x-hotkey>
        <song-noti></song-noti>
		<div class="progress c1 bg2">
            <time class="pt">{{time.pmt}}</time>
            <time class="dt">{{time.dmt }}</time>
            <div class="outer">
                <span class="bg" style="width:{{time.percent}}%;"></span>
            </div>
            <div class="player-ctrl-extra">
                <template if="{{hasPrev}}">
                    <i title="重听上一首歌曲" class="iconfont"  on-click="{{playPrevSong}}">&#xe610;</i>
                </template>
                <i title="单曲循环" class="iconfont {{isSingleCycle ? 'enable' : ''}}" on-click="{{singleCycle}}">&#xe60e;</i>
                <!--<i title="听相似的歌曲" class="iconfont"  on-click="{{playSimilar}}">&#xe60d;</i>-->
                <i title="显示歌词" class="iconfont {{lyric ? 'enable' : ''}}" on-click="{{toggleLyric}}">&#xe613;</i>
            </div>
        </div>

        <div class="player-ctrl c2">
          <span title="不再收听" class="iconfont" on-click="{{neverPlayAgain}}">&#xe624;</span>
          <span title="{{song.like? '取消红心':'加红心'}}" class="{{song.like ? 'star':''}} iconfont" on-click="{{star}}">&#xe631 </span>
          <span title="{{playing? '暂停' : '播放'}}" class="iconfont" on-click="{{togglePlay}}">{{playing ? '&#xe60b;' : '&#xe603;'}}</span>
          <span title="下一首" class="iconfont" on-click="{{skip}}">&#xe607;</span>
        </div>
    </template>
    <script>
    Polymer('song-player', {
        time : {},
        //是否单曲循环
        isSingleCycle : false,
        //是否显示歌词
        lyric : FM.config.lyric,
        //当前歌曲
        song : FM.status.song,
        ready : function() {
            var self = this
            self.player = self.shadowRoot.querySelector('x-audio').player

            FM.obs.on('SONG:UPDATE', function(e) {
                //是否显示上一首按钮
                self.hasPrev = FM.playlist.index >= 1
                self.song = e
            })

            //同步歌词显示状态
            FM.obs.on('CONFIG:UPDATE', function(e) {
                if(e.type == 'lyric') {
                    self.lyric = FM.config.lyric
                }
            })

            //更新进度条
            self.player.addEventListener('timeupdate', function() {
                var pt = self.player.currentTime
                var dt = self.player.duration
                self.time = {
                    percent : (self.player.currentTime/self.player.duration)*100,
                    pmt : self.formatTime(pt),
                    dmt : self.formatTime(dt)
                }
                FM.obs.emit('TIME:UPDATE', pt)
            })

            //歌曲播放结束
            self.player.addEventListener('ended', function() {
                if(self.isSingleCycle) {
                    self.player.load()
                } else {
                    FM.playlist.next()
                }
            })

            //暂停
            self.player.addEventListener('pause', function() {
                console.log('pause')
                self.playing = false
            })

            //播放
            self.player.addEventListener('playing', function() {
                console.log('playing')
                self.playing = true
            })

            //监听快捷键事件
            FM.obs.on('KEY:STAR', self.star.bind(self))
            FM.obs.on('KEY:PREV', self.playPrevSong.bind(self))
            FM.obs.on('KEY:NEXT', self.skip.bind(self))
            FM.obs.on('KEY:STOP', self.togglePlay.bind(self))
            FM.obs.on('KEY:PAUSE', self.togglePlay.bind(self))
            FM.obs.on('KEY:NOPLAY', self.neverPlayAgain.bind(self))
        },

        //格式化时间
        formatTime : function(n) {
            var m = Math.floor(n/60)
            var s = Math.ceil(n%60)
            m = m < 10 ? '0' + m : m
            s = s < 10 ? '0' + s : s
            return m + ':' + s
        },

        //切换播放状态
        togglePlay : function() {
            var self = this
            if(self.playing) {
                self.player.pause()
            } else {
                self.player.play()
            }
            self.playing = !self.playing
        },

        //下一首
        skip : function() {
            var self = this
            FM.playlist.next()
        },

        //不再播放
        neverPlayAgain : function() {
            var self = this
            FM.playlist.removeCurrent()
            FM.appSDK.never_play_again({
                channel_id : FM.status.channel.id,
                sid : FM.status.song.sid
            },function(err, songs) {
                if(err) return console.error(err)
            })
        },

        //加红心
        star : function() {
            var self = this
            var method = self.song.like ? 'unstar' : 'star'
            FM.appSDK[method]({
                channel_id : FM.status.channel.id,
                sid : FM.status.song.sid
            }, function(err, songs) {
                if(err) return console.error(err)
                self.song.like = !self.song.like
                FM.status.song = JSON.parse(JSON.stringify(self.song))
                FM.obs.emit('SONG:STAR', self.song)
            })
        },

        //切换歌词显示
        toggleLyric : function() {
            FM.config.lyric = !FM.config.lyric
            FM.obs.emit('CONFIG:UPDATE', {
                type : 'lyric'
            })
        },

        //听上一首歌曲
        playPrevSong : function() {
            var self = this
            FM.playlist.prev()
        },

        //单曲循环
        singleCycle : function() {
            var self = this
            self.isSingleCycle = !self.isSingleCycle
        }
    })
    </script>
</polymer-element>