<link rel="import" href="../x-audio/index.html">
<link rel="import" href="../x-hotkey/index.html">
<link rel="import" href="../x-share/index.html">
<link rel="import" href="../song-noti/index.html">
<link rel="import" href="../song-lyric/index.html">

<polymer-element name="song-player" attributes="song">
    <template>
        <style>
            .progress {
                position: relative;
                height: 2px;
                margin: 0 20px 25px;
                padding: 1px;
                background: #999;
                border-radius: 2px;
                box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;
            }

            .progress div.outer {
                position: relative;
                top: -4px;
                left: 0;
                right: 0;
                height: 10px;
                cursor: pointer;
            }

            .progress span {
                position: absolute;
                left: 0px;
                top: 4px;
                width: 0;
                height: 2px;
                background: #fff;
            }

            .progress time {
                position: absolute;
                bottom: 10px;
                font-size: 10px;
            }

            .progress .pt {
                left: 0
            }

            .progress .dt {
                right: 0
            }
            
            .player-ctrl-extra {
                position: absolute;
                top: -6.6vh;
                right: 6vw;
                text-align: center;
            }

            .player-ctrl-extra i {
                cursor: pointer;
            }

            .player-ctrl-extra i.enable {
                color: #ff0000;
            }

            .player-ctrl-extra i:last-child {
                font-size: 13px;
                vertical-align: 1px;
            }

            .player-ctrl-extra i:nth-last-child(2) {
                font-size: 11px;
                vertical-align: 1px;
            }

            .player-ctrl-extra i:nth-last-child(3) {
                margin-left: -2px;
            }

            .player-ctrl {
                text-align: center;
            }

            .player-ctrl span {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin: 0 10px;
                cursor: pointer;
                font-size: 22px;
                transition: -webkit-transform 0.2s ease-in;
            }

            .player-ctrl span:hover {
                text-shadow: 0 0 2px rgba(255,255,255,0.8);
                -webkit-transform: scale(1.2);
            }

            .player-ctrl .star {
                color: #f00;
            }

            .volume-percent {
                position: fixed;
                z-index: 1009;
                top: 40vh;
                right: 40vh;
                width: 20vh;
                height: 20vh;
                line-height: 20vh;
                text-align: center;
                background: rgba(255,255,255,0.2);
                color: rgba(0,0,0,0.5);
                font-size: 16px;
                opacity: 0;
                pointer-events : none;
                transition: opacity 0.4s ease-in;
                padding: {{volumePercent}}px;
                margin: -{{volumePercent}}px -{{volumePercent}}px 0 0;
                border-radius: 100vh;
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
            }

            .volume-percent-show {
                opacity: 1;
            }

            .volume-percent i {
                font-style: normal;
                margin-right: 5px;
            }
        </style>

        <x-audio></x-audio>
        <x-hotkey></x-hotkey>
        <song-noti></song-noti>
        <song-lyric></song-lyric>
        <div class="progress c1 bg2">
            <time class="pt">{{time.pmt}}</time>
            <time class="dt">{{time.dmt }}</time>
            <div class="outer" on-click="{{jumpToHere}}">
                <span class="bg" style="width:{{time.percent}}%;"></span>
            </div>
            <div class="player-ctrl-extra">
                <x-share></x-share>
                <template if="{{hasPrev}}">
                    <i title="重听上一首歌曲" class="iconfont"  on-click="{{playPrevSong}}">&#xe610;</i>
                </template>
                <i title="单曲循环" class="iconfont {{isSingleCycle ? 'enable' : ''}}" on-click="{{singleCycle}}">&#xe60e;</i>
                <i title="听相似歌曲" class="iconfont {{similaring ? 'enable' : ''}}" on-click="{{playSimilarSongs}}">&#xe60d;</i>
                <i title="显示播放列表" class="iconfont {{isPlaylistShow ? 'enable' : ''}}" on-click="{{togglePlaylist}}">&#xe61d;</i>
                <i title="显示歌词" class="iconfont {{lyric ? 'enable' : ''}}" on-click="{{toggleLyric}}">&#xe613;</i>
            </div>
        </div>

        <div class="player-ctrl c2">
          <span title="不再收听" class="iconfont" on-click="{{neverPlayAgain}}">&#xe624;</span>
          <span title="{{song.like? '取消红心':'加红心'}}" class="{{song.like ? 'star':''}} iconfont" on-click="{{star}}">&#xe631; </span>
          <span title="{{playing? '暂停' : '播放'}}" class="iconfont" on-click="{{togglePlay}}">{{playing ? '&#xe60b;' : '&#xe603;'}}</span>
          <span title="下一首" class="iconfont" on-click="{{skip}}">&#xe607;</span>
        </div>
        <div class="volume-percent {{showVolumePercent? 'volume-percent-show' : ''}}"><i class="iconfont">&#xe61b;</i>{{volumePercent }}</div>
    </template>
    <script>
    Polymer('song-player', {
        time : {},
        //是否单曲循环
        isSingleCycle : false,
        //是否显示歌词
        lyric : FM.config.lyric,
        //当前歌曲
        song : FM.status.song,
        ready : function() {
            var self = this
            self.player = self.shadowRoot.querySelector('x-audio').player

            self.gui = require('nw.gui')
            self.win = self.gui.Window.get()

            FM.obs.on('SONG:UPDATE', function(e) {
                //是否显示上一首按钮
                self.hasPrev = FM.playlist.index >= 1
                self.song = e
                self.similaring = false
            })

            //同步歌词显示状态
            FM.obs.on('CONFIG:UPDATE', function(e) {
                if(e.type == 'lyric') {
                    self.lyric = FM.config.lyric
                }
            })

            //更新进度条
            self.player.addEventListener('timeupdate', function() {
                var pt = self.player.currentTime
                var dt = self.player.duration
                self.time = {
                    percent : (self.player.currentTime/self.player.duration)*100,
                    pmt : self.formatTime(pt),
                    dmt : self.formatTime(dt)
                }
                FM.obs.emit('TIME:UPDATE', pt)

                //在任务栏显示mini进度条
                self.win.setProgressBar(self.time.percent/100)
            })

            //歌曲播放结束
            self.player.addEventListener('ended', function() {
                if(self.isSingleCycle) {
                    self.player.load()
                } else {
                    self.skip()
                }
            })

            //暂停
            self.player.addEventListener('pause', function() {
                console.log('pause')
                self.playing = false
            })

            //播放
            self.player.addEventListener('playing', function() {
                console.log('playing')
                self.playing = true
            })

            //音量调节
            self.bindVolumeEvent()

            //监听快捷键事件
            FM.obs.on('KEY:STAR', self.star.bind(self))
            FM.obs.on('KEY:PREV', self.playPrevSong.bind(self))
            FM.obs.on('KEY:NEXT', self.skip.bind(self))
            FM.obs.on('KEY:STOP', self.togglePlay.bind(self))
            FM.obs.on('KEY:PAUSE', self.togglePlay.bind(self))
            FM.obs.on('KEY:NOPLAY', self.neverPlayAgain.bind(self))
            FM.obs.on('KEY:PLAY_SIMILAR', self.playSimilarSongs.bind(self))
            FM.obs.on('KEY:PLAYLIST_SHOW', self.togglePlaylist.bind(self))
        },

        //格式化时间
        formatTime : function(n) {
            var m = Math.floor(n/60)
            var s = Math.ceil(n%60)
            m = m < 10 ? '0' + m : m
            s = s < 10 ? '0' + s : s
            return m + ':' + s
        },

        //切换播放状态
        togglePlay : function() {
            var self = this
            if(self.playing) {
                self.player.pause()
            } else {
                self.player.play()
            }
            self.playing = !self.playing
        },

        //下一首
        skip : function() {
            var self = this
            if(self.starRecommendSongs) {
                FM.playlist.reset(self.starRecommendSongs)
                self.starRecommendSongs = null
            } else {
                FM.playlist.next()
            }
        },

        //不再播放
        neverPlayAgain : function() {
            var self = this
//            FM.playlist.removeCurrent()
            FM.appSDK.never_play_again({
                channel_id : FM.status.channel.id,
                sid : FM.status.song.sid
            },function(err, songs) {
                if(err) return console.error(err)
                FM.playlist.reset(songs)
            })
        },

        //加红心
        star : function() {
            var self = this
            var method = self.song.like ? 'unstar' : 'star'
            FM.appSDK[method]({
                channel_id : FM.status.channel.id,
                sid : FM.status.song.sid
            }, function(err, songs) {
                if(err) return console.error(err)
                self.song.like = !self.song.like
                FM.status.song = JSON.parse(JSON.stringify(self.song))
                FM.obs.emit('SONG:STAR', self.song)
                self.starRecommendSongs = songs
            })
        },

        //听相似歌曲
        playSimilarSongs : function() {
            var self = this
            var sid = self.song.sid
            var cid = parseInt(sid)+2000000
            var name = self.song.title
            if(self.similaring) return
            self.similaring = true
            FM.appSDK.songs({
                sid : sid,
                channel_id : cid
            }, function(err, songs) {
                if(err) return console.error(err)
                FM.playlist.reset(songs)
                FM.status.channel = {id: cid, name : name}
                FM.obs.emit('CHANNEL:UPDATE', FM.status.channel)
            })
        },

        //切换歌词显示
        toggleLyric : function() {
            FM.config.lyric = !FM.config.lyric
            FM.obs.emit('CONFIG:UPDATE', {
                type : 'lyric'
            })
        },

        //切换播放列表显示
        togglePlaylist : function() {
            var self = this
            self.isPlaylistShow = !self.isPlaylistShow
            FM.obs.emit('PLAYLIST:SHOW', self.isPlaylistShow)
        },

        //听上一首歌曲
        playPrevSong : function() {
            var self = this
            FM.playlist.prev()
        },

        //单曲循环
        singleCycle : function() {
            var self = this
            self.isSingleCycle = !self.isSingleCycle
        },

        //播放进度跳转到鼠标点击处
        jumpToHere : function(e) {
            var fullWidth = e.currentTarget.offsetWidth
            if(this.player.duration) {
                this.player.currentTime = this.player.duration*(e.offsetX/fullWidth)
            }
            FM.obs.emit('SONG:FAST_FORWARD', this.song)
        },

        //设置音量调节事件
        bindVolumeEvent : function() {
            var self = this
            var hideDelay = null
            var MAX_WHEEL = 300
            document.querySelector('main').addEventListener('mousewheel', function(e) {
                if(!FM.config.wheelVolume) return
                var distance = e.wheelDelta
                var volume = self.player.volume*MAX_WHEEL
                volume = volume + distance
                if(volume < 0) {
                    volume = 0
                } else if(volume > MAX_WHEEL) {
                    volume = MAX_WHEEL
                }
                self.player.volume = volume/MAX_WHEEL

                self.showVolumePercent = true
                self.volumePercent = Math.round(volume*100/MAX_WHEEL)
                hideDelay && clearTimeout(hideDelay)
                hideDelay = setTimeout(function() {
                    self.showVolumePercent = false
                },400)
            })
        }
    })
    </script>
</polymer-element>