<polymer-element name="x-setting" attributes="">
	<template>
		<style>
            :host {
                display: block;
                height: 100vh;
                line-height: 100vh;
                vertical-align: middle;
                text-align: center;
                width: 100%;
            }

            .setting {
                line-height: 5vh;
                display: inline-block;
            }
		</style>
		<div class="setting">coming soon</div>
	</template>
	<script>
	Polymer('x-setting',{
	})
	</script>
</polymer-element>