<polymer-element name="x-mask">
    <template>
        <style>
            :host {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                line-height: 100vh;
                text-align: center;
                background: #fff;
                z-index: 1000;
                transition: opacity 1s ease-in;
                pointer-events:none;
            }
        </style>
        <img src="../../assets/images/mask-loading.gif" width="80" />
    </template>
    <script>
        Polymer('x-mask',{
            enteredView : function() {
                var self = this
                FM.obs.on('SONG:UPDATE', self.hide.bind(self))
            },
            hide : function() {
                var self = this
                if(self.hidden) return
                self.style.opacity = 0
                setTimeout(function() {
                    self.hidden = true
                    self.parentNode.removeChild(self)
                },1000)
            }
        })
    </script>
</polymer-element>