<polymer-element name="x-mask">
    <template>
        <style>
            :host {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: #fff;;
                z-index: 1000;
                -webkit-transition: opacity 1s ease-in;
                transition: opacity 1s ease-in;
                pointer-events:none;
            }
        </style>
    </template>
    <script>
        Polymer('x-mask',{
            enteredView : function() {
                var self = this
                if(FM.playlist.length) {
                    self.hide()
                } else {
                    FM.obs.on('SONG:UPDATE', self.hide.bind(self))
                }
            },
            hide : function() {
                var self = this
                self.style.opacity = 0
                setTimeout(function() {
                    self.style.display = 'none'
                },1000)
            }
        })
    </script>
</polymer-element>