<polymer-element name="x-mask">
    <template>
        <content select="*"></content>
    </template>
    <script>
        Polymer('x-mask',{
            enteredView : function() {
                var self = this
                FM.obs.on('SONG:UPDATE', self.hide.bind(self))
            },
            hide : function() {
                var self = this
                if(self.hidden) return
                self.style.opacity = 0
                setTimeout(function() {
                    self.hidden = true
                    self.parentNode.removeChild(self)
                },1000)
            }
        })
    </script>
</polymer-element>