<polymer-element name="x-about" attributes="version">
	<template>
		<style>
		    :host {
                display: block;
                width: 100%;
                height: 100vh;
                text-align: center;
                font-size: 2.0vw;
            }

            .about {
                display:inline-block;
                margin: 25vh 0 0 0;
                padding: 0;
                line-height: 20px;
                text-align: left;
            }

            li {
                list-style: none;
                margin: 10px 0;
                padding: 0;
            }

            span {
                white-space: nowrap;
                text-decoration: underline;
                cursor: pointer;
            }

            .update {
                display: inline-block;
                text-align: center;
                width: 80px;
                height: 25px;
                line-height: 25px;
                border: 1px solid rgba(100,100,100,0.5);
                background: rgba(255,255,255,0.4);
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

            .update i {
                font-style: normal;
                font-size: 14px;
            }

            @-webkit-keyframes  loading {
                from {-webkit-transform: rotate(0deg);}
                to {-webkit-transform: rotate(360deg);}
            }

            .update.checking i {
                -webkit-animation:loading 2s infinite linear ;
            }

            .update:hover {
                background: rgba(255,255,255,0.8);
            }

		</style>
		<ul class="about">
            <li>版本：dbfm v{{version}}</li>
            <li>源码：<span on-click="{{goToLink}}"  href="{{github}}">Github</span></li>
            <li>作者：<span on-click="{{goToLink}}" href="{{weibo}}">{{weiboNick}}</span></li>
            <template if="{{!checkd}}">
                <li><span class="update {{checking ? 'checking' : ''}}" on-click="{{checkUpdate}}">
                    <i class="iconfont">&#xe63b;</i>检查更新</span>
                </li>
            </template>
            <template if="{{noUpdate}}">
                <li>已经是最新版本</li>
            </template>
            <template if="{{newVersion}}">
                <li><span on-click="{{goToLink}}" href="https://github.com/sapjax/dbfm">发现新版本{{newVersion}}</span></li>
            </template>
		</ul>
	</template>
	<script>
	Polymer('x-about',{
        version : '0.0.0',
        github : 'https://github.com/sapjax/dbfm',
        weibo : 'http://weibo.com/sapjax',
        weiboNick : '@压缩包子',
        localUrl : './package.json',
        remoteUrl : 'https://raw.githubusercontent.com/sapjax/dbfm/master/package.json',
        ready : function() {
            this.setVersion()
        },

        setVersion : function() {
            var self = this
            var fs = require('fs')
            fs.readFile(self.localUrl, function(err, data){
                if(err) console.error(err)
                data = JSON.parse(data.toString())
                self.version = data.version
            })
        },

        goToLink : function(e) {
            var btn = e.currentTarget
            var open = require('open')
            open(btn.getAttribute('href'))
        },

        checkUpdate : function() {
            var self = this
            var request = require('request')
            self.checking = true
            request(self.remoteUrl, function(err, res, body) {
                self.checking = false
                if(err) return console.error(err)
                body = JSON.parse(body)
                var version = body.version || '0'
                if(self.compareVersion(version, self.version) > 0) {
                    self.newVersion = version
                } else {
                    self.noUpdate = true
                }
            })
        },

        compareVersion: function(v1, v2) {
            v1 = v1.split('.').join('')
            v2 = v2.split('.').join('')
            return parseInt(v1) - parseInt(v2)
        }
	})
	</script>
</polymer-element>