html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    transition: background 0.4s ease-in;
    webkit-transition: background 0.4s ease-in;
}

#wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.sidebar {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 50%;
    top: 0;
}

.sidebar .nav {
    background: rgba(200, 200, 200, 0.5);
    box-shadow: 0 1px 0 #f00;
    display: block;
    height: 80vh;
    padding-bottom: 10vh;
    padding-top: 10vh;
    width: 10vw;
}

.sidebar .nav li {
    cursor: pointer;
    height: 16vh;
    line-height: 16vh;
    text-align: center;
}

.sidebar .nav li.active {
    background: rgba(100, 100, 100, 0.2);
}

.sidebar .content {
    bottom: 0;
    left: 10vw;
    position: absolute;
    right: 0;
    top: 0;
}

.sidebar .content > * {
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    -webkit-transform: scale(0.95);
}

.sidebar .content > *.active {
    opacity: 1;
    transition: all 0.3s ease-in;
    webkit-transition: all 0.3s ease-in;
    -webkit-transform: scale(1);
    z-index: 2;
}

main {
    bottom: 0;
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

main song-player {
    bottom: 10vh;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

song-face {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: left 0.4s ease-in;
    webkit-transition: left 0.4s ease-in;
    width: 50%;
    z-index: 10;
}

song-face.hover {
    left: 50%;
}

x-view {
    position: absolute;
    right: 6px;
    top: 5px;
}

@font-face {
    font-family: 'iconfont';
    src:url('http://at.alicdn.com/t/font_1411638144_663203.woff') format('woff');
}

body /deep/ .iconfont{
    font-family:"iconfont";
}

body /deep/ ::-webkit-scrollbar {
    opacity: 0.5;
    background: rgba(255,255,255,0.5);
    width: 2px;
    border-radius: 4px;
}

body /deep/  ::-webkit-scrollbar-thumb {
    background: rgba(100,100,100,0.8);
    border-radius: 4px;
}

