html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Skia, STKaiti, sans-serif;
    background: #fff;
    transition: background 0.4s ease-in;
    -webkit-app-region: drag;
    -webkit-user-select:none;
}

body.not-osx /deep/ a,
body.not-osx /deep/  span,
body.not-osx /deep/  button,
body.not-osx /deep/  input,
body.not-osx /deep/  i,
body.not-osx /deep/  song-player,
body.not-osx /deep/  x-channel,
body.not-osx /deep/  li
{
    -webkit-app-region:no-drag;
}

#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.sidebar {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
}

.sidebar .nav {
    display: block;
    width: 10vw;
    height: 80vh;
    padding: 10vh 0;
    background: rgba(200, 200, 200, 0.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.sidebar .nav li {
    height: 16vh;
    line-height: 16vh;
    text-align: center;
    cursor: pointer;
    transition: font-size 0.3s ease-in;
}

.sidebar .nav li:hover {
    font-size: 18px;
}

.sidebar .content {
    position: absolute;
    left: 10vw;
    right: 0;
    top: 0;
    bottom: 0;
}

.sidebar .content > * {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0.95);
}

.sidebar .content > *.active {
    z-index: 2;
    opacity: 1;
    transition: all 0.3s ease-in;
    -webkit-transform: scale(1);
}

main {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
}

main song-player {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vh;
    text-align: center;
}

song-face {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    transform-origin: right center 0px;
    transition: all 0.4s ease-in;
}

song-face.hover {
    transform: matrix3d(-1,0,0.00,0,0.00,1,0.00,0,0,0,-1,0,0,0,0,1);
}

x-view {
    position: absolute;
    right: 6px;
    top: 5px;
}

x-mask {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 100vh;
    text-align: center;
    background: #ddd;
    transition: opacity 1s ease-in;
    pointer-events:none;
}

@font-face {
    font-family: 'iconfont';
    src:url('../fonts/iconfont.woff') format('woff');
    /*src:url('http://at.alicdn.com/t/font_1414812587_4916766.woff') format('woff');*/
}

body /deep/ .iconfont{
    font-family:"iconfont";
    font-style: normal;
}

body /deep/ ::-webkit-scrollbar {
    width: 2px;
    opacity: 0.5;
    background: rgba(255,255,255,0.5);
    border-radius: 4px;
}

body /deep/  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(100,100,100,0.8);
}
