<polymer-element name="song-lyric">
   <template>
       <style>
           div {
               position: absolute;
               left: 0;
               top: 0;
               width: 100%;
               height: 100%;
               text-shadow: 1px 1px 5px #000;
               text-align: center;
               letter-spacing: 1px;
               color: #fff;
               opacity: 0;
               background: rgba(0,0,0,0);
               transition: all 0.5s ease-in;
               pointer-events:none;
           }

           .show {
               opacity: 1;
               background: rgba(0,0,0,0.4);
           }

           p {
               position: absolute;
               top: 70vh;
               width: 44vw;
               margin: 0;
               padding: 0 3vw;
               line-height: 1.1;
               font-size: 13px;
               text-align: center;
               word-spacing: 0.1em;
               opacity: 0;
               transition: all 0.5s ease-in;
           }

           p.no-lrc {
               top: 47vh;
               opacity: 0.5;
           }

           p.prev {
               top: 35vh;
               opacity: 0.6;
           }

           p.current {
               top: 47vh;
               font-size: 15px;
               opacity: 1;
           }

           p.next {
               top: 59vh;
               opacity: 0.6;
           }

           p.pass {
               top: 20vh;
           }

       </style>
        <div class="{{isShow ? 'show' : ''}}">
            <template if="{{!lrc.length}}">
                <p class="no-lrc">暂无歌词</p>
            </template>
            <template repeat="{{lrc}}">
                <p data-time="{{time}}" class="{{class}}">{{word}}</p>
            </template>
        </div>
   </template>
    <script>
        Polymer('song-lyric', {
            //当前歌曲
            song: FM.status.song,
            //当前歌词句子列表
            lrc : [],
            ready : function() {
                var self = this
                self.isShow = FM.config.lyric

                //歌曲更新后，更换歌词
                FM.obs.on('SONG:UPDATE', function(song) {
                    self.lrc = []
                    self.song = song
                    if(!self.isShow) return
                    process.nextTick(function() {
                        self.fetchLrc(song)
                    })
                })

                //快捷键切换歌词显示
                FM.obs.on('KEY:SHOW_LRC', function() {
                    FM.config.lyric = !FM.config.lyric
                    FM.obs.emit('CONFIG:UPDATE',{
                        type : 'lyric'
                    })
                })

                //歌词配置信息改变后，切换歌词是否显示
                FM.obs.on('CONFIG:UPDATE', function(e) {
                    if(e.type == 'lyric') {
                        self.toggleLyric()
                    }
                })

                //歌曲快进后，重新调整歌词位置
                FM.obs.on('SONG:FAST_FORWARD', function(e) {
                    if(self.lrc.length) {
                        self.lrc.forEach(function(line) {
                            line.class = ''
                        })
                    }
                })

                //歌词滚动
                FM.obs.on('TIME:UPDATE', function(playTime) {
                    if(self.lrc.length && self.isShow) {
                        var lines = self.lrc
                        for(i = 0; i<lines.length; i++) {
                            if(playTime < lines[i].time) {
                                lines[i].class = 'next'
                                if(lines[i-1]) {
                                    lines[i-1].class = 'current'
                                }
                                if(lines[i-2]) {
                                    lines[i-2].class = 'prev'
                                }
                                if(lines[i-3]) {
                                    lines[i-3].class = 'pass'
                                }
                                return
                            }
                        }
                    }
                })
            },

            //切换歌词显示
            toggleLyric : function() {
                var self = this
                self.isShow = FM.config.lyric
                if(self.isShow && !self.lrc.length) {
                    self.fetchLrc(self.song)
                }
                FM.cache.set('CACHE:CONFIG', FM.config)
            },

            //获取歌词
            fetchLrc : function(song) {
                var self = this
                FM.appSDK.lyric({
                    song_id : song.sid
                }, function(err, lyric) {
                    if(err) return console.error(err)
                    if(song.id == self.song.id) {
                       self.lrc = self.parseLrc(lyric || '')
                    }
                })
            },

            //解析歌词
            parseLrc : function(lrc) {
                var result = []
                var lines = lrc.split('\n')
                lines.forEach(function(line) {
                    var times = []
                    line = line.replace(/\[(\d+)\:(\d+?(\.)?\d+)\]/g,function($0, m , s) {
                        times.push(parseInt(m)*60 + parseFloat(s))
                        return ''
                    })
                    times.forEach(function(time, i) {
                        result.push({
                            time : time,
                            word : line
                        })
                    })
                })
                result = result.sort(function(a, b) {
                    return a.time - b.time
                })
                return result
            }
        })
    </script>
</polymer-element>