<link rel="import" href="../song-lyric/index.html">
<polymer-element name="song-face" attributes="info">
    <template>
        <style>
            :host {
                position: relative;
                box-shadow: 0 0 5px rgba(100,100,100,0.5);
                background: rgba(255,255,255,0.7)
            }
            a, img {
                display: block;
                width: 100%;
                height: 100%;
            }

            a {
                position: absolute;
                left: 0;
                top: 0;
                cursor: pointer;
            }

            song-lyric {
                width: 50vw;
                height: 100vh;
                position: absolute;
                left: 0;
                top: 0;
                pointer-events: none;
            }
        </style>
        <div id="cssTmpl" style="display: none">
            .bg,.active,body /deep/ .bg { background: %(bg)}
            .bg1,body /deep/ .bg1 { background: %(c1)}
            .bg2,body /deep/ .bg2 { background: %(c2)}
            .c1, body /deep/ .c1 {color: %(c1)}
            .c2, body /deep/ .c2 {color: %(c2)}
            .cb, body /deep/ .cb {color: %(bg)}
        </div>
        <a url="http://music.douban.com{{info.album}}" on-click={{jump2douban}}>
            <img src={{info.picture}} />
        </a>
        <song-lyric></song-lyric>
    </template>
    <script src="./colibri.js"></script>
    <script>
        Polymer('song-face', {
            info : FM.status.song,
            ready : function() {
                var self = this

                //切换class hover, 触发css动画滑动
                this.addEventListener('mouseover', function() {
                    self.delay && clearTimeout(self.delay)
                    self.delay = setTimeout(function() {
                        self.classList.toggle('hover')
                    },500)
                })

                this.addEventListener('mouseout', function() {
                    self.delay && clearTimeout(self.delay)
                })

                //歌曲更新后，更新颜色
                FM.obs.on('SONG:UPDATE', function(song) {
                    self.info = song
                    self.updateColor(self.info.picture)
                })

                //颜色变更后，重新生成style内容
                FM.obs.on('COLOR:UPDATE', function(colors) {
                    var colorStyle = document.querySelector('#colorStyle')
                    if(!colorStyle) {
                        colorStyle = document.createElement('style')
                        colorStyle.id = 'colorStyle'
                        document.body.appendChild(colorStyle)
                    }
                    colorStyle.innerHTML = self.getColorText(colors)
                })

                self.updateColor(self.info.picture)
            },

            //生成颜色样式
            getColorText : function(colors) {
                var tmpl = this.$.cssTmpl.textContent
                return this.stringStsupplant(tmpl, {
                    bg : colors.background,
                    c1 : colors.content[0],
                    c2 : colors.content[1]
                })
            },

            //图片变换后，获取主要颜色
            updateColor : function(src) {
                if(!src) return
                var img = new Image( )
                img.onload = function ( ) {
                    var colors =  Colibri.extractImageColors( img, 'css' )
                    FM.obs.emit('COLOR:UPDATE', colors)
                }
                img.crossOrigin = 'Anonymous'
                img.src = src
            },

            //替换字符串模板
            stringStsupplant : function(tmpl, data) {
                return tmpl.replace(/%\((\w+)\)/g, function($0, $1) {
                    return data[$1] || ''
                })
            },

            //跳出到豆瓣
            jump2douban : function(e) {
                var a = e.currentTarget
                var open = require('open')
                open(a.getAttribute('url'))
            }
        })
    </script>
</polymer-element>