<polymer-element name="panel-setting" attributes="config">
	<template>
		<style>
            :host {
                display: block;
                height: 100vh;
                width: 100%;
            }

            .setting {
                padding: 0 1vw;
                height: 100vh;
                overflow: auto;
                font-size: 12px;
            }

            section {
                margin:5vh 0;
            }

            h3 {
                margin: 0;
                padding: 1vw;
                border-bottom: 1px solid;
                text-align: right;
            }

            section div {
                margin-top: 5vh;
            }

            label {
                display: block;
                margin: 2vh 0;
            }

            label span {
                display: inline-block;
                text-align: right;
                width: 40% ;
                margin-right: 5%;
            }

            input {
                width: 50%;
                height: 20px;
                border: 1px solid rgba(0,0,0,0.2);
                background: rgba(255,255,255,0.4);
                text-indent: 5px;
                outline: none;
            }

            input:focus {
                background: rgba(255,255,255,0.8);
            }

            input[type="checkbox"] {
                width: auto;
                vertical-align: middle;
            }

            .backup {
                text-align: center;
                padding-bottom: 10vh;
            }

            button {
                width: 80px;
                height: 25px;
                margin: 0 2vw;
                cursor: pointer;
                border: none;
                background: rgba(255,255,255,0.4);
                border:1px solid rgba(100,100,100,0.1);
            }

            button:hover, button:focus {
                outline: none;
                background: rgba(255,255,255,0.8);
            }

            .no-result {
                display: none;
                text-align: center;
                margin-top: 48vh;
            }
            
            .no-result span {
                font-size: 20px;
                margin-right: 10px;
                vertical-align: middle;
            }
		</style>
        <div class="no-result"><span class="iconfont">&#xe646;</span>coming soon!</div>
		<div class="setting">
            <section class="hot-key">
                <h3>热键设置</h3>
                <div>
                    <label><span>暂停/播放</span><input  name="pause" placeholder="无" on-keydown="{{hotKey}}" /></label>
                    <label><span>红心</span><input name="star" placeholder="无" on-keydown="{{hotKey}}" /></label>
                    <label><span>不再播放</span><input name="noplay" placeholder="无" on-keydown="{{hotKey}}"  /></label>
                    <label><span>下一首</span><input name="next" placeholder="无" on-keydown="{{hotKey}}"  /></label>
                    <label><span>打开控制台</span><input name="showDevTools" placeholder="无" on-keydown="{{hotKey}}"  /></label>
                    <label><span>显示主窗口</span><input name="show" placeholder="无" on-keydown="{{hotKey}}"  /></label>
                    <label><span>启用媒体键</span><input type="checkbox" name="mediaKey"  checked="{{config.mediaKey}}" on-change="{{toggle}}" /></label>
                </div>
            </section>
            <section>
                <h3>其他设置</h3>
                <div>
                    <label><span>启用桌面通知</span><input type="checkbox" name="notification" checked="{{config.notification}}" on-change="{{toggle}}"/></label>
                    <label><span>显示歌词</span><input type="checkbox" name="lyric" checked="{{config.lyric}}" on-change="{{toggle}}" /></label>
                </div>
            </section>
            <section>
                <h3>备份设置</h3>
                <div class="backup">
                    <button class="import">导入</button>
                    <button class="export">导出</button>
                </div>
            </section>
		</div>
	</template>
    <script src="./keymap.js"></script>
	<script>
	Polymer('panel-setting',{
        config : FM.config,
        ready : function() {
            var self = this
            //FM.config变化后，记录到缓存
            FM.obs.on('CONFIG:UPDATE', function(e) {
                self.config = FM.config
                FM.cache.set('CACHE:CONFIG', FM.config)
            })
        },

        //记录快捷键
        hotKey : function(e) {
            var self = this
            var target = e.currentTarget
            var name = target.name
            target.value = self.getPressKey(e)
            if(target.value != FM.config.hotKey[name]) {
                FM.config.hotKey[name] = self.getPressKey(e)
                FM.obs.emit('CONFIG:UPDATE', {type : 'hotKey'})
            }
        },

        //获取快捷键组合
        getPressKey : function(e) {
            var keys = []
            var map = KeyMap.map
            if(e.metaKey) {
               keys.push(map[91][0])
            }
            if(e.shiftKey) {
                keys.push(map[16][0])
            }
            if(e.ctrlKey) {
                keys.push(map[17][0])
            }
            if(e.altKey) {
                keys.push(map[18][0])
            }
            if(e.keyCode && [16,17,18,91,92].indexOf(e.keyCode) < 0) {
                keys.push(map[e.keyCode])
            }
            return keys.join('+')
        },

        //切换开关状态
        toggle : function(e) {
            var target = e.currentTarget
            var name = target.name
            FM.config[name]= target.checked
            FM.obs.emit('CONFIG:UPDATE', {type : name})
        },

        //读取配置
        readConfig : function(path) {
            var self = this
            var fs = require('fs')
            if(fs.existsSync(path)) {
                fs.readFile(path, function(err, data) {
                    if(err)  return console.error(err)
                    self.config = JSON.parse(data.toString())
                })
            }
        },

        //写入配置
        saveConfig : function(path, config) {
            var self = this
            var fs = require('fs')
            fs.writeFile(path, JSON.stringify(config), function(err) {
                if(err) return console.error(err)
            })
        }
	})
	</script>
</polymer-element>