<polymer-element name="panel-setting" attributes="config">
	<template>
		<style>
            :host {
                display: block;
                height: 100vh;
                width: 100%;
            }

            .setting {
                padding: 0 1vw;
                height: 100vh;
                overflow: auto;
                font-size: 12px;
            }

            section {
                margin:5vh 0;
            }

            h3 {
                margin: 0;
                padding: 1vw;
                border-bottom: 1px solid;
                text-align: right;
            }

            h3 i {
                font-style: normal;
                color: orangered;
                cursor: pointer;
                vertical-align: 1px;
            }

            section div {
                margin-top: 5vh;
            }

            p {
                display: block;
                margin: 2vh 0;
            }

            p label{
                display: inline-block;
                text-align: right;
                width: 40% ;
                margin-right: 5%;
            }

            input {
                width: 50%;
                height: 20px;
                border: 1px solid rgba(0,0,0,0.2);
                background: rgba(255,255,255,0.4);
                text-indent: 5px;
                outline: none;
            }

            input:focus {
                background: rgba(255,255,255,0.8);
            }

            input[type="checkbox"] {
                width: auto;
                vertical-align: middle;
            }

            .backup {
                text-align: center;
                padding-bottom: 10vh;
            }

            button {
                width: 80px;
                height: 25px;
                margin: 0 2vw;
                cursor: pointer;
                border: none;
                background: rgba(255,255,255,0.4);
                border:1px solid rgba(100,100,100,0.1);
            }

            button:hover, button:focus {
                outline: none;
                background: rgba(255,255,255,0.8);
            }

            .no-result {
                display: none;
                text-align: center;
                margin-top: 48vh;
            }
            
            .no-result span {
                font-size: 20px;
                margin-right: 10px;
                vertical-align: middle;
            }
		</style>
        <div class="no-result"><span class="iconfont">&#xe646;</span>coming soon!</div>
		<div class="setting">
            <section class="hot-key">
                <h3 title="注意：犹豫node-webkit本身的原因，无法检测Command组合键，设置时请选择CTRL/ALT作为主按键, 如果按键中有CTRL键，在使用时需要按Command键调用"><i class="iconfont">&#xe64b;</i>热键设置</h3>
                <div>
                    <p>
                        <label>暂停/播放</label>
                        <input  name="PAUSE" placeholder="无" on-keydown="{{recordKey}}" on-blur="{{setKey}}" value="{{config.hotKey.PAUSE}}" />
                    </p>
                    <p>
                        <label>红心</label>
                        <input name="STAR" placeholder="无" on-keydown="{{recordKey}}" on-blur="{{setKey}}" value="{{config.hotKey.STAR}}" />
                    </p>
                    <p>
                        <label>不再播放</label>
                        <input name="NOPLAY" placeholder="无" on-keydown="{{recordKey}}" on-blur="{{setKey}}" value="{{config.hotKey.NOPLAY}}" />
                    </p>
                    <p>
                        <label>上一首</label>
                        <input name="PREV" placeholder="无" on-keydown="{{recordKey}}" on-blur="{{setKey}}" value="{{config.hotKey.PREV}}" />
                    </p>
                    <p>
                        <label>下一首</label>
                        <input name="NEXT" placeholder="无" on-keydown="{{recordKey}}" on-blur="{{setKey}}" value="{{config.hotKey.NEXT}}" />
                    </p>
                    <p>
                        <label>打开控制台</label>
                        <input name="SHOW_DEV_TOOLS" placeholder="无" on-keydown="{{recordKey}}" on-blur="{{setKey}}" value="{{config.hotKey.SHOW_DEV_TOOLS}}" />
                    </p>
                    <p>
                        <label>显示主窗口</label>
                        <input name="SHOW_WINDOW" placeholder="无" on-keydown="{{recordKey}}" on-blur="{{setKey}}" value="{{config.hotKey.SHOW_WINDOW}}" />
                    </p>
                    <p>
                        <label>重启客户端</label>
                        <input name="RESTART" placeholder="无" on-keydown="{{recordKey}}" on-blur="{{setKey}}" value="{{config.hotKey.RESTART}}" />
                    </p>
                    <p>
                        <label>退出客户端</label>
                        <input name="QUIT" placeholder="无" on-keydown="{{recordKey}}" on-blur="{{setKey}}" value="{{config.hotKey.QUIT}}" />
                    </p>
                    <p>
                        <label>显示歌词</label>
                        <input name="SHOW_LRC" placeholder="无" on-keydown="{{recordKey}}" on-blur="{{setKey}}" value="{{config.hotKey.SHOW_LRC}} " />
                    </p>
                    <p>
                        <label for="mideaKey">启用媒体键</label><input type="checkbox" name="mediaKey"  checked="{{config.mediaKey}}" on-change="{{toggle}}" />
                    </p>
                </div>
            </section>
            <section>
                <h3>其他设置</h3>
                <div>
                    <p>
                        <label for="notification">启用桌面通知</label>
                        <input type="checkbox" name="notification" checked="{{config.notification}}" on-change="{{toggle}}"/>
                    </p>
                    <p>
                        <label for="lyric">显示歌词</label>
                        <input type="checkbox" name="lyric" checked="{{config.lyric}}" on-change="{{toggle}}" />
                    </p>
                </div>
            </section>
		</div>
	</template>
    <script src="./keymap.js"></script>
	<script>
	Polymer('panel-setting',{
        config : FM.config,
        ready : function() {
            var self = this
            //FM.config变化后，记录到缓存
            FM.obs.on('CONFIG:UPDATE', function(e) {
                self.config = FM.config
                FM.cache.set('CACHE:CONFIG', FM.config)
            })

            FM.obs.on('KEY:REGISTER_FAIL', function(e) {
                delete FM.config.hotKey[e.name]
                FM.cache.set('CACHE:CONFIG', FM.config)
            })
        },

        //记录快捷键
        recordKey : function(e) {
            var self = this
            var target = e.currentTarget
            var key = self.getPressKey(e).trim()
            target.value = key
            target.dataset.key = key
        },

        //失去焦点后设置快捷键
        setKey : function(e) {
            var self = this
            var target = e.currentTarget
            var name = target.name
            var key = target.dataset.key
            if(key  && (key != FM.config.hotKey[name])) {
                FM.config.hotKey[name] = key
                FM.obs.emit('CONFIG:UPDATE', {type : 'hotKey', name : name, key : key})
            }
        },

        //获取快捷键组合
        getPressKey : function(e) {
            var keys = []
            var map = KeyMap.map
            if(e.metaKey) {
               keys.push(map[91][0])
            }
            if(e.shiftKey) {
                keys.push(map[16][0])
            }
            if(e.ctrlKey) {
                keys.push(map[17][0])
            }
            if(e.altKey) {
                keys.push(map[18][0])
            }
            if(e.keyCode && [16,17,18,91,92].indexOf(e.keyCode) < 0) {
                if(map[e.keyCode]) {
                    keys.push(map[e.keyCode][0])
                }
            }
            keys.forEach(function(o, i) {
                var s = o.split('')
                s[0] = s[0].toUpperCase()
                keys[i] = s.join('')
            })
            return keys.join('+')
        },

        //切换开关状态
        toggle : function(e) {
            var target = e.currentTarget
            var name = target.name
            FM.config[name]= target.checked
            FM.obs.emit('CONFIG:UPDATE', {type : name})
        },

        //读取配置
        readConfig : function(path) {
            var self = this
            var fs = require('fs')
            if(fs.existsSync(path)) {
                fs.readFile(path, function(err, data) {
                    if(err)  return console.error(err)
                    self.config = JSON.parse(data.toString())
                })
            }
        },

        //写入配置
        saveConfig : function(path, config) {
            var self = this
            var fs = require('fs')
            fs.writeFile(path, JSON.stringify(config), function(err) {
                if(err) return console.error(err)
            })
        }
	})
	</script>
</polymer-element>