<polymer-element name="song-noti">
    <script>
        Polymer('song-noti', {
            ready : function() {
                var self = this
                FM.obs.on('SONG:UPDATE', function(song) {
                    FM.config.notification && self.noti(song)
                })
            },

            noti : function(song) {
                var noti = new Notification(song.title,{
                    icon : song.picture,
                    body : song.artist + '    ' + song.albumtitle
                })

                //自动隐藏
                if(FM.config.notiTime) {
                    setTimeout(function() {
                        noti.close()
                    },FM.config.notiTime*1000)
                }

                noti.onclick = function() {
                    FM.obs.emit('NOTI:CLICK')
                }
            }
        })
    </script>
</polymer-element>