<polymer-element name="x-hotkey">
    <template>
    </template>
    <script>
        Polymer('x-hotkey',{
            ready : function() {
                var self = this
                this.registerMediaKey()
                this.registerHotKey(FM.config.hotKey)

                //快捷键更新后，重新注册
                FM.obs.on('CONFIG:UPDATE', function(e) {
                    if(e.type == 'hotKey') {
                        self.register(e.name, e.key)
                    }
                })
            },

            //注册全局快捷键
            registerHotKey : function(hotKey) {
                for(name in hotKey) {
                    this.register(name, hotKey[name])
                }
            },

            //媒体键
            mediaKeys : {
                mediaprevioustrack : "PREV",
                medianexttrack : "NEXT",
                mediastop : "STOP",
                mediaplaypause : "PAUSE"
            },

            //注册媒体键
            registerMediaKey : function() {
                if(FM.config.mediaKey && process.platform == 'darwin') {
                    for(key in this.mediaKeys) {
                        this.register(this.mediaKeys[key], key)
                    }
                }
            },

            //调用node-webkit注册接口
            register : function(name, key) {
                var remote = require('remote')
                var globalShortcut = remote.require('global-shortcut')

                globalShortcut.unregister(key)
                globalShortcut.register(key, function() {
                    FM.obs.emit('KEY:' + name)
                })
            }
        })
    </script>
</polymer-element>
