<polymer-element name="x-hotkey">
    <template>
    </template>
    <script>
        Polymer('x-hotkey',{
            //缓存注册过的键
            keys: {},
            ready : function() {
                var self = this
                this.gui = require('nw.gui');
                this.registerMediaKey()
                this.registerHotKey(FM.config.hotKey)

                //快捷键更新后，重新注册
                FM.obs.on('CONFIG:UPDATE', function(e) {
                    if(e.type == 'hotKey') {
                        self.register(e.name, e.key)
                    }
                })
            },

            //注册全局快捷键
            registerHotKey : function(hotKey) {
                for(name in hotKey) {
                    this.register(name, hotKey[name])
                }
            },

            //媒体键
            mediaKeys : {
                MediaPrevTrack : "NOPLAY",
                MediaNextTrack : "NEXT",
                MediaStop : "STOP",
                MediaPlayPause : "PAUSE"
            },

            //注册媒体键
            registerMediaKey : function() {
                if(FM.config.mediaKey && process.platform == 'darwin') {
                    for(key in this.mediaKeys) {
                        this.register(this.mediaKeys[key], key)
                    }
                }
            },

            //调用node-webkit注册接口
            register : function(name, key, active, failed) {
                var shortcut = new this.gui.Shortcut({
                    key : key,
                    active : active || function () {
                        FM.obs.emit('KEY:' + name)
                    },
                    failed : failed || function (msg) {
                        FM.obs.emit('KEY:REGISTER_FAIL',{
                            name : name,
                            key : key
                        })
                        console.error(this, msg)
                    }
                })
                //如果之前注册过同样动作的键，则取消之前的注册，媒体键除外
                if(this.keys[name] && !this.mediaKeys[this.keys[name].key]) {
                    this.gui.App.unregisterGlobalHotKey(this.keys[name])
                    delete this.keys[name]
                }
                this.gui.App.unregisterGlobalHotKey(shortcut)
                this.gui.App.registerGlobalHotKey(shortcut)
                this.keys[name] = shortcut
            }
        })
    </script>
</polymer-element>