<polymer-element name="x-view">
    <template>
        <style>
            div {
                white-space: nowrap;
            }

            div a {
                display: inline-block;
                margin-left: 5px;
                font-size: 14px;
                text-decoration: none;
                cursor: pointer;
            }

            div a:hover {
                text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            }
        </style>
        <div>
            <a class="iconfont c1" title="最小化" on-click="{{min}}">&#xe635;</a>
            <!--<a class="iconfont" title="打开控制台" on-click="{{showDevTools}}">&#xe638;</a>-->
            <a class="iconfont c1" title="关闭" on-click="{{close}}">&#xe619;</a>
        </div>
    </template>
    <script>
        Polymer('x-view',{
            ready : function() {
                var self = this

                var remote = require('remote')
                var app = remote.require('app')
                self.win = remote.getCurrentWindow()

                FM.obs.on('NOTI:CLICK', self.show.bind(self))

                FM.obs.on('KEY:SHOW_DEV_TOOLS', self.showDevTools.bind(self))
                FM.obs.on('KEY:RESTART', self.restart.bind(self))
                FM.obs.on('KEY:QUIT', self.close.bind(self))
                FM.obs.on('KEY:SHOW_WINDOW', function(){
                    self.isMin ? self.show() : self.min()
                })

                self.addTray()
                FM.obs.on('SONG:UPDATE', function(song) {
                    self.updateTray(song)
                    app.dock.setBadge(song.like ? '♡' : '')
                })

                FM.obs.on('SONG:STAR', function(song) {
                    self.updateTray(song)
                    app.dock.setBadge(song.like ? '♡' : '')
                })

                self.win.on('close', function() {
                    if(self.tray) {
                        self.tray.destroy()
                        self.tray = null
                    }
                })
            },

            //最小化
            min : function() {
                this.win.minimize()
                this.win.hide()
                this.isMin = true
            },

            //切换控制台显示
            showDevTools : function() {
                this.win.isDevToolsOpened() ? this.win.closeDevTools() : this.win.openDevTools()
            },

            //关闭
            close : function() {
                if(this.tray) {
                    this.tray.destroy()
                    this.tray = null
                }
                FM.lyricWindow && FM.lyricWindow.close()
                this.win.close()
            },

            //重启
            restart : function() {
                this.win.reload()
            },

            //显示主窗口
            show : function() {
                this.win.show()
                this.isMin = false
            },

            //增加任务栏图标
            addTray : function() {
                var self = this
                self.tray && self.tray.destroy()
                var remote = require('remote')
                var app = remote.require('app')
                var Tray = remote.require('tray')

                var tray = new Tray(self.getIcon(FM.status.song))
                tray.setToolTip('This is TimoFM')


                tray.on('clicked',self.show.bind(self))
                self.tray = tray
            },

            updateTray : function(song) {
                var self = this
                self.tray.setImage(self.getIcon(song))
            },

            //获取任务栏图标
            getIcon : function(song) {
                var path =  __dirname + '/assets/images/'
                if(song.like) {
                    return path + 'red_tray.png'
                } else {
                    return  path + 'blank_tray.png'
                }
            }
        })
    </script>
</polymer-element>
