<polymer-element name="x-view">
    <template>
        <style>
            div {
                white-space: nowrap;
            }

            div a {
                display: inline-block;
                margin-left: 5px;
                font-size: 14px;
                text-decoration: none;
                cursor: pointer;
            }

            div a:hover {
                text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            }
        </style>
        <div>
            <a class="iconfont" title="最小化" on-click="{{min}}">&#xe635;</a>
            <a class="iconfont" title="打开控制台" on-click="{{showDevTools}}">&#xe638;</a>
            <a class="iconfont" title="关闭" on-click="{{close}}">&#xe619;</a>
        </div>
    </template>
    <script>
        Polymer('x-view',{
            ready : function() {
                var self = this
                self.gui = require('nw.gui')
                self.win = self.gui.Window.get()
                FM.obs.on('NOTI:CLICK', self.restore.bind(self))

                FM.obs.on('KEY:SHOW_DEV_TOOLS', self.showDevTools.bind(self))
                FM.obs.on('KEY:RESTART', self.restart.bind(self))
                FM.obs.on('KEY:QUIT', self.close.bind(self))
                FM.obs.on('KEY:SHOW_WINDOW', function(){
                    self.isMin ? self.restore() : self.min()
                })

                self.addTray()
                FM.obs.on('SONG:UPDATE', function(song) {
                    self.updateTray(song)
                })

                FM.obs.on('SONG:STAR', function(song) {
                    self.updateTray(song)
                })
            },

            //最小化
            min : function() {
                this.win.minimize()
                this.isMin = true
            },

            //切换控制台显示
            showDevTools : function() {
                this.win.isDevToolsOpen() ? this.win.closeDevTools() : this.win.showDevTools()
            },

            //关闭
            close : function() {
                if(this.tray) {
                    this.tray.remove()
                    this.tray = null
                }
                this.win.close()
            },

            //重启
            restart : function() {
                this.win.reload()
            },

            //显示主窗口
            restore : function() {
                this.win.restore()
                this.isMin = false
            },

            //增加任务栏图标
            addTray : function() {
                var self = this
                self.tray && self.tray.remove()
                var gui = self.gui
                var icon = self.getIcon(FM.status.song)
                var tray = new gui.Tray({
                    title : '',
                    icon : icon.icon,
                    alticon: icon.alticon
                })

                var menu = new gui.Menu()
                menu.append(new gui.MenuItem({ label: 'Open' }));
                menu.append(new gui.MenuItem({ label: 'Quit' }));

                menu.items[0].click = self.restore.bind(self)
                menu.items[1].click = self.close.bind(self)


                tray.menu = menu
                tray.on('click',self.restore.bind(self))
                self.tray = tray
            },

            updateTray : function(song) {
                var self = this
                self.tray.icon = self.getIcon(song).icon
            },

            //获取任务栏图标
            getIcon : function(song) {
                if(song.like) {
                    return {
                        icon : './assets/images/red_tray.png',
                        alticon: './assets/images/red_tray@2x.png'
                    }
                } else {
                    return {
                        icon : './assets/images/blank_tray.png',
                        alticon: './assets/images/blank_tray@2x.png'
                    }
                }
            }
        })
    </script>
</polymer-element>